* {
    font-family: 'Lato', sans-serif;
}

html{
    margin: 10px;
    padding: 10px;
}

.main{
    display:flex;
    align-items:center;
}

.title {
    border:10px solid black;
    width: 500px;
    line-height: 30px;
    padding: 50px;
}

.title > h1{
    font-size:5em;
}

.title > p {
    font-size:1.5em;
}

img{
    margin:100px;
    height: 600px;
}

