body {
  margin: 0;
}

.bigbox {
  max-width: 1024px;
  margin: 0 auto;
  background-color: lightgrey;
  padding: 20px;
}

.topnav {
  display: flex;
  align-items: center;
}

.icon {
  padding: 10px;
  margin-right: 100px;
}

.menu {
  display: flex;
  background-color: black;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 0;
}
.details > div {
  margin: 10px 0;
}

.phone {
  display: flex;
}

.phone > div {
  width: 100px;
  flex: 1;
  text-align: right;
  padding: 12px 16px;
}

.phone > div:nth-child(2) {
  background-color: rgb(142, 140, 140);
  text-align: center;
}

.menu > div a:hover {
  background-color: rgb(185, 182, 182);
  color: black;
  border-radius: 20px;
  transition: all 0.5s;
}

.menu > div {
  padding: 16px 24px;
}

.menu > div > a {
  padding: 12px 16px;
  text-decoration: none;
  color: white;
}

.slideshow img {
  max-width:100%;
  border:5px solid black;
}

.content {
  display: flex;
  justify-content: space-around;
}

.content > div{
    background-color: rgb(142, 140, 140);
    margin:10px;
    padding:20px;
}

.content > div:first-child{
    flex:2;
    margin-left:0;
}

.content > div:nth-child(2){
    flex:1;
    margin-right:0;
}

.footer{
    background-color: rgb(142, 140, 140);
    text-align:center;
    padding:10px;
    margin:10px 0;
    font-size:3em;
    animation: footer_animate 5s infinite;
}

@keyframes footer_animate {
    0%{color: black;}
    25%{color: darkgrey;}
    50%{color:grey;}
    50%{color:lightgrey;}
    50%{color:white;}
}

@media screen and (max-width:800px){
  .topnav, .content, .slideshow{
      flex-direction: column;
  }

  .column{
      width:100%;
  }
}

