body{
    margin:0;
    padding: 0;
}

.container {
    background-color: #f1f1f1;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.header{
    background-color: #f1f1f1;
    text-align: center;
}

.topnav{
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
}

.topnav > div, a{
    display:flex;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
}

.menu a:hover{
    background-color: #ddd;
    color:black;
}

.topnav img{
    width:25px;
    padding: 0 10px;
}

.footer{
    text-align:center;
    padding:5px;
    display:flex;
}

.footer > div{
    flex:1;
    margin:5px;
    background-color: grey;
}

.column_holder{
    display:flex;
}

.column_holder>div{
    flex:1;
    text-align: center;
    background-color: grey;
    height:100px;
    margin:5px;
    padding:5px;
}

.column_holder > div:nth-child(2){
    flex:2;
}

@media screen and (max-width:800px){
    .column_holder{
        flex-direction: column;
    }

    .column{
        width:100%;
    }
}
