.send_mail {
    padding: 20px;
  }
  
  .send_mail > p {
    color: #ff813b;
    font-size: 35px;
    font-weight: bold;
  }
  
  form {
    background-color: #0f0f08;
    padding: 20px;
  }
  
  form > label {
    color: #ffa500;
  }
  
  form > input {
    width: 60%;
    height: 40px;
    background-color: #030302;
    border: 2px solid #ffa500;
    color: #ffffe0;
  }
  
  form > textarea {
    width: 60%;
    background-color: #030302;
    border: 2px solid #ffa500;
    resize: none;
    color: #ffffe0;
  }
  
  form > button {
    background-color: #ffa500;
    padding: 12px 16px;
    margin-top: 10px;
    transition: 0.5s all;
  }
  
  form > button > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 150%;
  }
  
  form > button:hover {
    background-color: rgb(53, 53, 53);
    cursor: pointer;
  }