@media screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .nav_bar,
  .nav_menu {
    display: block;
    text-align: center;
  }

  .nav_bar > div,
  .nav_menu > div {
    display: inline-block;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
  }

  .contact {
    display: block;
    text-align: center;
  }

  .contact > div {
    display: inline-block;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
  }

  /* home */
  .explain,
  .anti_hack,
  .pentest,
  .anti_hack_box,
  .pentest_box {
    display: block;
    text-align: center;
  }

  .explain > div,
  .anti_hack > div,
  .pentest > div {
    display: inline-block;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
  }

  .anti_hack_box,
  .pentest_box {
    position: relative;
    left: 5%;
  }

  .anti_hack > div > img,
  .pentest > div > img {
    position: relative;
    right: 2%;
    width: 100%;
  }

  /* about_me */
  .skills {
    display: block;
    text-align: center;
  }

  .skills > p {
    position: relative;
    right: 3.5%;
  }

  .skills > div {
    display: inline-block;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
  }

  .skill_progress {
    position: relative;
    right: 5%;
  }
}
