.projects > p {
    font-size: 30px;
    font-weight: bold;
    color: #ff813b;
    position: relative;
  }

.projects{
    padding-bottom: 40px;
}

.projects > p {
    position:relative;
    left:5%;
}

.main_project{
    text-align: center;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
}

.main_project > img {
    width:80%;
    flex:3;
}

.main_project > div {
    flex:1;
}

.main_project > div > button{
    height: 200px;
    width: 50%;
    font-size: 200%;
    font-weight: bold;
    background-color: #1E1E1E;
    color: #ffffe0;
    border:none;
}

.main_project > div > button:hover{
    cursor:pointer;
}

.sub_project{
    display:grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 30px 0;
    background-color: #0F0F08;
}

.sub_project > div {
    background-color: #000000;
    padding: 30px;
    border: 5px solid #0F0F08;
}

.sub_project > div > a {
    text-decoration: none;
}

.sub_project > div > a > img{
    width: 80%;
}

.sub_project > div > a > p{
    color:#ffffe0;
}

.round_btn {
    display:flex;
    justify-content: center;
    align-items: center;
}

.round_btn > div > a {
    text-decoration: none;
}

.round_btn > a > button {
    border:none;
    border-radius: 50%;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    opacity:0.4;
    cursor:pointer;
}




